---
import { type CollectionEntry, getCollection } from "astro:content";
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import Note from "@/components/note/Note.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

// Posts
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts
	.sort(collectionDateSort)
	.slice(0, MAX_POSTS) as CollectionEntry<"post">[];

// Notes
const MAX_NOTES = 5;
const allNotes = await getCollection("note");
const latestNotes = allNotes.sort(collectionDateSort).slice(0, MAX_NOTES);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Howdy 👋</h1>
		<div>
			<img
				class="ml-3 size-fit rounded-md outline -outline-offset-1 outline-black/10 md:float-right md:w-2/5"
				src="/anurag-smirk.jpg"
				alt="Anurag sitting in front of his computer monitor with a big smile on his face."
			/>
			<div>
				<p class="mb-4">
					Welcome to the den of <a class="cactus-link" href="https://anuragbhandari.com"
						>Anurag Bhandari</a
					> the developer. I am a <strong>generalist</strong> software engineer.
				</p>
				<p class="mb-4">
					This little space on the web is where I write about my coding adventures, mishappenings,
					and breif notes in the hopes that my future self (or you) will find something useful.
				</p>
				<p class="mb-4">
					🎩 Hats I have worn: Linux dev, system troubleshooter, .NET developer, full-stack
					engineer, applied R&D technologist, front-end architect, API wiz, and (more recently)
					engineering manager.
				</p>
				<p class="mb-4">
					At heart, I am an excitable developer with a penchant for ✨ shiny new things, 🧪
					experiments, 🪴 growth, and 🙂 emojis.
				</p>
			</div>
		</div>
	</section>
	<SocialList />
	<section class="mt-16">
		<h2 class="title text-accent mb-6 text-xl"><a href="/posts/">Posts</a></h2>
		<ul class="space-y-6" role="list">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr]">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	{
		latestNotes.length > 0 && (
			<section class="mt-16">
				<h2 class="title text-accent mb-6 text-xl">
					<a href="/notes/">Notes</a>
				</h2>
				<ul class="space-y-6" role="list">
					{latestNotes.map((note) => (
						<li>
							<Note note={note} as="h3" isPreview />
						</li>
					))}
				</ul>
			</section>
		)
	}
</PageLayout>
